* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Koulen', cursive;
    
}



/* === HEADER === */
header {
    background-image: url(../img/the-backgroundheader.png);
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar-brand img {
    width: 100px;
}

.container-fluid a{
    font-size: 23px;
}

.nav-item a:hover {
    color: white !important;
    
}

/* Media Queries */

/* MOBILE */
@media (max-width:576px) {
    .navbar-brand img {
        width: 70px;
    }

}    
/* TABLET */
@media (min-width:576px) and (max-width:992px) {
    .navbar-brand img {
        width: 80px;
    }
}

/* === INDEX === */

.contenedor_index {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center; 
    font-family: 'Permanent Marker', cursive; 
}

.container_index_1 {
    display: flex;
    margin: 0 auto;
    margin-top: 30px;
    padding: 60px 60px;
    width: 100%;
    justify-content: space-evenly;
    padding-top: 40px;
    
}

.info_1 {
    padding-top: 50px;
    width: 50%;
    
}
.info_1 h2 {
    text-align: center;
}
.info_1 p {
    text-align: center;
}
.info_1 .boton_1 {
    text-align: center;
}
.container_index_1 img {
    width: 350px;
    height: 300px;
    border-radius: 10px;
}

/* Media Queries */

/* MOBILE */  
@media (max-width:576px) {
    .container_index_1 {
        margin: 0 auto;
        padding: 10px 10px;
        padding-top: 20px;
        padding-bottom: 20px;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
    .container_index_1 img {
        width: 300px;
        height: 250px;
        padding-top: 20px;
        padding-bottom: 30px;
        

    }
    .imagen_index_1 {
        display: flex;
        justify-content: center;   
    }
    .info_1 {
        width: 100%;
        padding-top: 5px;
        
    }
    .contenedor_index img {
        width: 100%;
        height: auto;
    }
    .contenedor_index h1 {
        position: absolute;
        display: flex;
        text-align: center; 
        justify-content: center;
        padding: 2%;
        font-family: 'Koulen', cursive;
        font-size: 75px;
        padding-top: 5px;
        letter-spacing: 2px;
        word-spacing: 2px;
        color: white; 
    }  
}

/* TABLET */
@media (min-width:576px) and (max-width:992px) {
    .container_index_1 {
        margin: 0 auto;
        width: 100%;
        padding-top: 20px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
    .container_index_1 img {
        width: 350px;
        height: 300px;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 30px;
        
    }
    .imagen_index_1 {
        display: flex;
        justify-content: center;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .info_1 {
        width: 100%;
        padding-top: 5px;    
    }
    .contenedor_index img {
        width: 100%;
        height: auto;
    }
    .contenedor_index h1 {
        position: absolute;
        display: flex;
        text-align: center; 
        justify-content: center;
        padding: 5%;
        font-family: 'Koulen', cursive;
        font-size: 100px;
        padding-top: 15px;
        letter-spacing: 2px;
        word-spacing: 2px;
        color: white; 
    }

}
/* DEKSTOP */
@media (min-width: 992px) {   

    .contenedor_index img {
        width: 100%;
        height: 500px;
    }
    .contenedor_index h1 {
        position: absolute;
        display: flex;
        text-align:center; 
        justify-content: center;
        padding: 2%;
        padding-left: 10px;
        font-family: 'Koulen', cursive;
        font-size: 150px;
        letter-spacing: 2px;
        word-spacing: 30px;
        color: white; 
        padding-top: 70px;
    }
} 


/* === FOOTER === */


.pie {
    width: 100%;
    background-image: url(../img/the-background-292729.png);
}

.pie .container_footer {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 5px;
}
.pie .container_footer figure {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.pie .container_footer figure img {
    width: 150px;
}

.pie .container_footer .box h2 {
    color: rgb(15, 15, 15);
    margin-bottom: 20px;
    font-size: 25px;
    font-family: 'Koulen', cursive;
}

.pie .container_footer .box p {
    color: rgb(19, 18, 18);
    font-family: 'Koulen', cursive;
}

.pie .container_footer .redes a {
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: black;
    margin-right: 10px;
    background-color: rgb(155, 25, 25);
    text-align: center;
    transition: all 300ms ease;
}

.pie .container_footer .redes a:hover {
    color: white;
}

.pie .container_footer2 {
    background-color: black;
    padding: 15px 10px;
    text-align: center;
    color: rgb(227, 225, 225);
}
.pie .container_footer2 small {
    font-size: 15px;
}

/* Media Queries */

/* MOBILE */
@media (max-width:576px) {
    .pie .container_footer {
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }
    .pie .container_footer .box h2 {
        text-align: center;
    }
    .pie .container_footer .box p {
        text-align: center;
    }
    .pie .container_footer .redes {
        text-align: center;
        align-content: center;
        justify-content: center;
    }    
}

/* TABLET */
@media (min-width:576px) and (max-width:992px){
    .pie .container_footer {
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }
    .pie .container_footer .box h2 {
        text-align: center;
    }
    .pie .container_footer .box p {
        text-align: center;
    }
    .pie .container_footer .redes {
        text-align: center;
        align-content: center;
        justify-content: center;
    }  
}


/* === CONTACTO === */

.section-form {
    border-radius: 20px;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.contenedor_contacto {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center; 
    font-family: 'Permanent Marker', cursive;
    
}

.ubicacion p {
    text-align: center;
    font-family: 'Koulen', cursive;
    padding-top: 60px;
}
.iframe {    
    text-align: center;  
    padding-top: 10px;
    padding-bottom: 25px;
    border-radius: 10px;

}
.section-form {
    display: flex;    
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 60px;
    
}

.formulario {
    width: 60%;
}

.titulo-form{
    text-align: center;
    padding-bottom: 30px;

}   

/* Media Queries */

/* MOBILE  */
@media (max-width: 576px) {
    .contenedor_contacto img {
        width: 100%;
        height: auto;
    }
    .contenedor_contacto h1 {
        position: absolute;
        display: flex;
        text-align: center; 
        justify-content: center;
        padding: 2%;
        font-family: 'Koulen', cursive;
        font-size: 75px;
        padding-top: 10px;
        letter-spacing: 2px;
        word-spacing: 2px;
        color: white; 
    }   
    iframe {
        width: 400px;
        height: 400px;
    }
    .formulario {
        border: 2px black solid;
        border-radius: 10px;
        padding:  15px;
        background-image: url(../img/the-backgroundheader.png);
        width: 90%;
    }
}
/* TABLET */
@media (min-width: 576px) and (max-width: 992px) {
    .contenedor_contacto img {
        width: 100%;
        height: auto;
    }
    .contenedor_contacto h1 {
        position: absolute;
        display: flex;
        text-align: center; 
        justify-content: center;
        padding: 5%;
        font-family: 'Koulen', cursive;
        font-size: 100px;
        padding-top: 70px;
        letter-spacing: 2px;
        word-spacing: 2px;
        color: white; 
    }
    iframe {    
        width: 550px;
        height: 500px; 
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .formulario {
        border: 2px black solid;
        border-radius: 10px;
        padding:  15px;
        background-image: url(../img/the-backgroundheader.png);
    }
    
} 
/* DESKTOP */
@media (min-width: 992px) {   

    .contenedor_contacto img {
        width: 100%;
        height: 500px;
    }
    .contenedor_contacto h1 {
        position: absolute;
        display: flex;
        text-align:start; 
        justify-content: center;
        padding: 2%;
        padding-left: 10px;
        font-family: 'Koulen', cursive;
        font-size: 150px;
        letter-spacing: 2px;
        word-spacing: 30px;
        color: white; 
        padding-top: 150px;
    }
    iframe {    
        width: 500px;
        height: 400px; 
        padding-top: 0px;
        padding-bottom: 90px;
    }
    .contenido_contacto {
        display: flex;
        border: 2px solid black;
        border-radius: 15px;
        margin: 50px;
        padding-top: 0px;
        background-image: url(../img/the-backgroundheader.png);
        height: 550px;
    } 
    .ubicacion {
        padding-left: 50px;
    }
    
} 



/* === PEDIDOS === */

.contenedor_pedidos {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center; 
    font-family: 'Permanent Marker', cursive;
}
.imagen-pedidos {
    justify-content: center;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
}
.imagen-pedidos img {
    width: 400px;
    height: auto;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.section-form {
    display: flex;    
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 60px;
    
}


/* Media Queries */

/*  MOBILE */
@media (max-width: 576px) {
    .contenedor_pedidos img {
        width: 100%;
        height: auto;
    }
    .contenedor_pedidos h1 {
        position: absolute;
        display: flex;
        text-align: center; 
        justify-content: center;
        padding: 2%;
        font-family: 'Koulen', cursive;
        font-size: 75px;
        padding-top: 40px;
        letter-spacing: 2px;
        word-spacing: 2px;
        color: white; 
    }
    
    .pedidos-form form {
        display: flex;
        padding-top: 20px;
        width: 70%;
        justify-content: center;
        border: 2px black;
        
    }
    .pedidos-formulario {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
        border: 2px solid black;
        border-radius: 10px;
        margin: 20px;
        padding-bottom: 10px;
        background-image: url(../img/the-backgroundheader.png);
        
        
    }
    .pedidos-titulo h3{
        font-size: 20px;
        padding-top: 10px;
    }
}

/* TABLET */
@media (min-width: 576px) and (max-width: 992px) {
    .contenedor_pedidos img {
        width: 100%;
        height: auto;
    }
    .contenedor_pedidos h1 {
        position: absolute;
        display: flex;
        text-align: center; 
        justify-content: center;
        padding: 5%;
        font-family: 'Koulen', cursive;
        font-size: 100px;
        padding-top: 70px;
        letter-spacing: 2px;
        word-spacing: 2px;
        color: white; 
    }
    .pedidos-form form {
        display: flex;
        padding-top: 20px;
        width: 70%;
        justify-content: center;
        border: 2px black;
        
    }
    .pedidos-formulario {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
        border: 2px solid black;
        border-radius: 10px;
        margin: 20px;
        padding-bottom: 10px;
        background-image: url(../img/the-backgroundheader.png);
        
    }
    .pedidos-titulo h3{
        font-size: 20px;
        padding-top: 10px;
    }
} 
/* DESKTOP */
@media (min-width: 992px) {   
    .pedidos-form {
        display: flex;    
        justify-content: center;
        padding-top: 60px;
        padding-left: 20px;
        padding-bottom: 60px;
        gap: 30px;
        
    }
    
    .pedidos-formulario {
        width: 50%;
        padding-left: 30px;
    }
    .pedidos-titulo{
        text-align: center;
        padding-bottom: 30px;
    
    }    
    .imagen-pedidos img {
        width: 500px;
        height: auto;
        border-radius: 7px; 
        padding-top: 20px;

    }
    .imagen-pedidos  {
        width: 600px;
        height: auto;
        border-radius: 5px;
        text-align: center;
    }

    .contenedor_pedidos img {
        width: 100%;
        height: 500px;
    }
    .contenedor_pedidos h1 {
        position: absolute;
        display: flex;
        text-align:start; 
        justify-content: center;
        padding: 2%;
        padding-left: 10px;
        font-family: 'Koulen', cursive;
        font-size: 150px;
        letter-spacing: 2px;
        word-spacing: 30px;
        color: white; 
        padding-top: 150px;
    }
    .pedidos-form {
        border: 2px solid black;
        border-radius: 10px;
        margin: 50px;
        padding-top: 2px;
        padding-bottom: 5px;
        background-image: url(../img/the-backgroundheader.png);
        
    } 
    .pedidos-titulo {
        padding-top: 10px;
    }
    
} 

/* === PROMOS === */
.contenedor_promos {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center; 
    font-family: 'Permanent Marker', cursive;
}

.contenedor_promos img {
    width: 100%;
}

.texto-promos{
    text-align: center;
    padding-top: 20px;
}
.card-body {
    background-image: url(../img/the-backgroundheader.png);
    color: rgb(34, 32, 32) !important
}


/* Media Queries */

/* MOBILE */
@media (max-width: 576px) {
    .contenedor_promos img {
        width: 100%;
        height: auto;
    }
    .contenedor_promos h1 {
        position: absolute;
        display: flex;
        text-align: center; 
        justify-content: center;
        padding: 2%;
        font-family: 'Koulen', cursive;
        font-size: 75px;
        padding-top: 40px;
        letter-spacing: 2px;
        word-spacing: 2px;
        color: white; 
    }   
}


/* TABLET */
@media (min-width: 576px) and (max-width: 992px) {
    .contenedor_promos img {
        width: 100%;
        height: auto;
    }
    .contenedor_promos h1 {
        position: absolute;
        display: flex;
        text-align: center; 
        justify-content: center;
        padding: 5%;
        font-family: 'Koulen', cursive;
        font-size: 100px;
        padding-top: 75px;
        letter-spacing: 2px;
        word-spacing: 2px;
        color: white; 
    }
    
} 

/* DESKTOP  */
@media (min-width: 992px) {   

    .contenedor_promos img {
        width: 100%;
        height: 500px;
    }
    .contenedor_promos h1 {
        position: absolute;
        display: flex;
        text-align:start; 
        justify-content: center;
        padding: 2%;
        padding-left: 10px;
        font-family: 'Koulen', cursive;
        font-size: 150px;
        letter-spacing: 2px;
        word-spacing: 30px;
        color: white; 
        padding-top: 150px;
    }
    .texto-promos {
        padding-top: 45px;
    }

} 

/* === MENU === */
.contenedor_menu {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center; 
    font-family: 'Permanent Marker', cursive;
}

.menu-texto {
    text-align: center;
    align-content: center;
    justify-content: center;
    padding-bottom: 10px;
    
}

#carouselExampleCaptions {
    width: 350px;
    display: flex;
    align-content: center;
    text-align: center;
    flex-direction: column;   
    padding-top: 20px; 
    padding-bottom: 40px;
    
}
.section-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.carousel-item {
    justify-content: center
}


/* Media Queries */
/* MOBILE */
@media (max-width: 576px) {
    .contenedor_menu img {
        width: 100%;
        height: auto;
    }
    .contenedor_menu h1 {
        position: absolute;
        display: flex;
        text-align: center; 
        justify-content: center;
        padding: 2%;
        font-family: 'Koulen', cursive;
        font-size: 75px;
        padding-top: 40px;
        letter-spacing: 2px;
        word-spacing: 2px;
        color: white; 
    }   
}
/*  TABLET  */
@media (min-width: 576px) and (max-width: 992px) {
    .contenedor_menu img {
        width: 100%;
        height: auto;
    }
    .contenedor_menu h1 {
        position: absolute;
        display: flex;
        text-align: center; 
        justify-content: center;
        padding: 5%;
        font-family: 'Koulen', cursive;
        font-size: 100px;
        padding-top: 70px;
        letter-spacing: 2px;
        word-spacing: 2px;
        color: white; 
    }
} 
/* DEKSTOP */
@media (min-width: 992px) {   

    .contenedor_menu img {
        width: 100%;
        height: 500px;
    }
    .contenedor_menu h1 {
        position: absolute;
        display: flex;
        text-align:start; 
        justify-content: center;
        padding: 2%;
        padding-left: 10px;
        font-family: 'Koulen', cursive;
        font-size: 150px;
        letter-spacing: 2px;
        word-spacing: 30px;
        color: white; 
        padding-top: 150px;
    }
    .contenido-menu {
        display: flex;
        margin: 20px;
    }
    .section-menu h2 {
        font-size: 50px;
    
    }
}
